:root {
  --main--color: #034694;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Cairo", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
/* START SETTINGS BOX */
.settings-box {
  position: fixed;
  left: -200px;
  top: 0;
  background-color: #ffffff;
  width: 200px;
  z-index: 900;
  min-height: 100vh;
  transition: 0.3s;
  border: 2px solid #eeeeee;
}
.settings-box.open {
  left: 0;
}
.settings-box .toggle-settings {
  position: absolute;
  right: -30px;
  top: 100px;
  background-color: #ffffff;
  text-align: center;
  cursor: pointer;
}
.settings-box .toggle-settings .fa-gear {
  width: 30px;
  padding: 8px 0;
}
.settings-box .settings-container .options-box {
  padding: 15px;
  background-color: whitesmoke;
  text-align: center;
  margin: 8px;
}

.settings-box .settings-container .options-box h4 {
  margin: 0;
  color: #283618;
  font-size: 15px;
}

.settings-box .settings-container .options-box .colors-list {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 15px 0 0;
}
.settings-box .settings-container .options-box .colors-list li {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: 5px;
  display: inline-block;
  border: 3px solid whitesmoke;
}
.settings-box .settings-container .options-box .colors-list li.active {
  border-color: #ffffff;
}
.settings-box .settings-container .options-box .colors-list li:first-child {
  background-color: #034694;
}
.settings-box .settings-container .options-box .colors-list li:nth-child(2) {
  background-color: #ee242c;
}
.settings-box .settings-container .options-box .colors-list li:nth-child(3) {
  background-color: #dba111;
}
.settings-box .settings-container .options-box .colors-list li:nth-child(4) {
  background-color: #00b4d8;
}

.settings-box .settings-container .options-box .colors-list li:last-child {
  background-color: #03071e;
}
.settings-box .options-box .yes,
.settings-box .options-box .no {
  width: 50px;
  cursor: pointer;
  /* incase I wanna make it the main root colo */
  /* background-color: var(--main--color); */
  color: #ffffff;
  margin-top: 20px;
  display: inline-block;
  font-size: 15px;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 4px;
  opacity: 0.5;
}
.settings-box .options-box span.active {
  opacity: 1;
}
.settings-box .options-box .yes {
  background-color: #264653;
}
.settings-box .options-box .no {
  background-color: #c1121f;
}

.reset {
  background-color: #c1121f;
  border: none;
  width: 178px;
  margin: 10px auto;
  display: block;
  color: #eeeeee;
  font-weight: bold;
  padding: 10px;
  border-radius: 50px;
  cursor: pointer;
}

/* END SETTINGS BOX */

/* START NAVIGATION BULLETS */
.nav-bullets {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  z-index: 1000;
}
.nav-bullets .bullet {
  width: 20px;
  height: 20px;
  border: 3px solid var(--main--color);
  margin: 20px auto;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}
.nav-bullets .bullet:hover .tooltip {
  display: block;
}
.nav-bullets .bullet .tooltip {
  background-color: var(--main--color);
  width: 100px;
  color: #eeeeee;
  padding: 4px 10px;
  position: absolute;
  right: 32px;
  top: -6px;
  border-radius: 5px;
  text-align: center;
  cursor: default;
  pointer-events: none;
  display: none;
}
.nav-bullets .bullet .tooltip::before {
  content: "";
  border-style: solid;
  border-width: 10px;
  height: 0;
  width: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -20px;
  border-color: transparent transparent transparent var(--main--color);
}
/* END NAVIGATION BULLETS */

/* START LANDING PAGE */
.landing-page {
  min-height: 100vh;
  background-image: url("../images/7.jpg");
  background-size: cover;
  position: relative;
}
.landing-page .overlay {
  background-color: #0000005e;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}
.landing-page .container {
  position: relative;
  z-index: 1000;
}
.header-area {
  position: relative;
  z-index: 2;
  color: #fff;
  display: flex;
  padding: 10px;
}
.header-area .logo {
  width: 300px;
  padding: 15px;
  font-weight: bold;
}
.header-area .links-container {
  width: 100%;
  text-align: right;
}
.header-area .links {
  list-style: none;
  padding-left: 0;
}
.header-area .links li {
  display: inline-block;
  margin-left: 10px;
}
.header-area .links li a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
}
.header-area .links li a:hover {
  color: var(--main--color);
}

.header-area .toggle-menu {
  background: none;
  border: none;
  width: 35px;
  cursor: pointer;
  margin-top: 15px;
  display: none;
  position: relative;
}
.header-area .toggle-menu.menu-active::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #eeeeee transparent;
  position: absolute;
  bottom: -15px;
  left: 8px;
}
.header-area .toggle-menu:focus {
  outline: none;
}
.header-area .toggle-menu span {
  display: block;
  background-color: var(--main--color);
  height: 3px;
  margin-bottom: 3px;
  border-radius: 30px;
}
.introduction {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #fff;
  text-align: center;
  width: 95%;
}
.introduction h1 {
  font-size: 35px;
  margin: 0 0 12px;
}

@media (max-width: 575px) {
  .introduction h1 {
    font-size: 26px;
  }
}

.introduction h1 span {
  color: var(--main--color);
}
.introduction p {
  line-height: 1.6;
  font-size: 20px;
}

@media (max-width: 991px) {
  .header-area .links {
    display: none;
  }
  .header-area .links.open {
    background-color: #eeeeee;
    padding: 10px;
    display: block;
    position: absolute;
    left: 0;
    top: 44px;
    width: 100%;
    border-radius: 5px;
    text-align: center;
  }
  .header-area .links.open li {
    /* display: block; */
    margin: 10px;
  }
  .header-area .links.open li a {
    color: var(--main--color);
    font-weight: bold;
  }
  .header-area .toggle-menu {
    display: inline-block;
  }
}
/* END LANDING PAGE */

/* START ABOUT ME  */
.about {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
}

@media (max-width: 767px) {
  .about {
    display: block;
    text-align: center;
  }
}

.about .info-box {
  flex: 1;
  padding: 30px;
}
@media (max-width: 767px) {
  .about .info-box {
    padding: 0;
    margin-bottom: 10px;
  }
}
.about .info-box h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main--color);
  margin: 0 0 10px;
}

.about .info-box p {
  line-height: 1.8;
  color: #6e6d6d;
  margin: 0;
}
.about .img-box {
  flex: 1;
  text-align: center;
}

.about .img-box img {
  width: 250px;
  border-radius: 40px;
}
/* END ABOUT ME  */

/* START SKILLS */
.skills {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #eeeeee;
}
.skills h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main--color);
  margin: 0 0 50px;
  text-align: center;
}
.skills .skill-box {
  display: flex;
  background-color: #ffffff;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 30px;
}

@media (max-width: 575px) {
  .skills .skill-box {
    display: block;
    margin-bottom: 10px;
  }
}

.skills .skill-box .skill-name {
  font-weight: bold;
  width: 140px;
  text-align: center;
  line-height: 15px;
}
@media (max-width: 575px) {
  .skills .skill-box .skill-name {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
}
.skills .skill-box .skill-progress {
  height: 15px;
  width: calc(100% - 150px);
  background-color: #f6f6f6f6;
  border-radius: 30px;
  position: relative;
}
.skills .skill-box .skill-progress span {
  border-radius: 30px;
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  transition: all 0.5s;
}

/* INCASE I WANT TO MAKE DIFFERENT COLORS FOR DIFFERENT SKILLS */
.skills .html .skill-progress span {
  background-color: black;
}
.skills .css .skill-progress span {
  background-color: #034694;
}
.skills .javascript .skill-progress span {
  background-color: #ee242c;
}
/* END SKILLS */

/* START GALLERY */
.gallery {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.gallery h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main--color);
  margin: 0 0 50px;
  text-align: center;
}
.gallery .images-box {
  text-align: center;
}
.gallery .images-box img {
  width: 200px;
  padding: 3px;
  background-color: #f6f6f6f6;
  border: 1px solid #ccc;
  margin: 5px;
  cursor: pointer;
}
.popup-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.popup-box {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 1001;
}
.popup-box img {
  max-width: 100%;
  max-height: 100%;
}
.popup-box h3 {
  text-align: center;
  font-weight: bold;
  margin: 0 0 20px;
  color: var(--main--color);
}
.popup-box .close {
  cursor: pointer;
  position: absolute;
  top: -15px;
  right: -15px;
  background-color: var(--main--color);
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  font-size: 20px;
  border-radius: 50%;
}
/* END GALLERY */

/* START TIMELINE */
.timeline {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #eeeeee;
}
.timeline .timeline-content {
  position: relative;
  overflow: hidden;
}
.timeline .timeline-content::before {
  content: "";
  width: 2px;
  height: 100%;
  background-color: var(--main--color);
  position: absolute;
  left: 50%;
  margin-left: -1px;
  top: 0;
}
.timeline .timeline-content .year {
  margin: 20px auto;
  width: 60px;
  background-color: var(--main--color);
  position: relative;
  z-index: 2;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  padding: 2px 5px;
  font-weight: bold;
}
.timeline .timeline-content .left,
.timeline .timeline-content .right {
  width: calc(50% - 25px);
  margin-bottom: 40px;
  position: relative;
}

@media (max-width: 767px) {
  .timeline .timeline-content .left,
  .timeline .timeline-content .right {
    width: 100%;
    margin-bottom: 20px;
  }
  .timeline .timeline-content .left::before,
  .timeline .timeline-content .right::before {
    display: none;
  }
  .timeline .timeline-content .left .content::before,
  .timeline .timeline-content .right .content::before {
    display: none;
  }
}

.timeline .timeline-content .left {
  float: left;
}

.timeline .timeline-content .left::before {
  right: -35px;
}

.timeline .timeline-content .right {
  float: right;
}
.timeline .timeline-content .left::before,
.timeline .timeline-content .right::before {
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 3px solid var(--main--color);
  position: absolute;
  top: 20px;
}
.timeline .timeline-content .right::before {
  left: -35px;
}

.timeline .timeline-content .content {
  padding: 20px;
  background-color: #fff;
}
.timeline .timeline-content .content h3 {
  color: var(--main--color);
  font-weight: bold;
  margin: 0 0 1px;
}
.timeline .timeline-content .content p {
  color: #666;
  margin: 0;
  line-height: 1.6;
}
.clearfloat {
  clear: both;
}
.timeline .timeline-content .left .content::before {
  border-color: transparent transparent transparent #fff;
  right: -20px;
}

.timeline .timeline-content .right .content::before {
  border-color: transparent #fff transparent transparent;
  left: -20px;
}

.timeline .timeline-content .left .content::before,
.timeline .timeline-content .right .content::before {
  content: "";
  border-style: solid;
  border-width: 10px;
  height: 0;
  width: 0;
  position: absolute;
  top: 20px;
}
/* END TIMELINE */

/* START FEATURES */
.features {
  padding-top: 80px;
  padding-bottom: 80px;
}
.features h2 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin: 0 0 60px;
  color: var(--main--color);
}
.features .feat-box {
  width: calc(100% / 3);
  float: left;
  text-align: center;
  margin-bottom: 40px;
}
@media (max-width: 991px) {
  .features .feat-box {
    width: calc(100% / 2);
  }
}
@media (max-width: 575px) {
  .features .feat-box {
    width: 100%;
  }
}
.features .feat-box img {
  width: 96px;
  border: 2px solid #eeeeee;
  border-radius: 50%;
}
.features .feat-box h4 {
  font-size: 22px;
  margin: 15px 0 40px;
  position: relative;
}
.features .feat-box h4::before {
  content: "";
  background-color: var(--main--color);
  width: 40px;
  height: 4px;
  position: absolute;
  left: 50%;
  /* transform: translate(-20px, 44px); ANOTHER WAY TO DO IT USING TRANSFORM TRANSLATE*/
  transform: translateX(-20px);
  bottom: -22px;
}
.features .feat-box p {
  width: 80%;
  margin: 0 auto;
  line-height: 1.7;
  color: #686868;
}
/* END FEATURES */

/* HTML PART IS COMMENTED SINCE I DON'T NEED FOR NOW
/* START TESTIMONIALS */
/* .testimonials {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
}
.testimonials::before {
  content: "";
  width: 50%;
  height: 100%;
  background-color: var(--main--color);
  position: absolute;
  left: 0;
  top: 0;
}
.testimonials::after {
  content: "";
  width: 50%;
  height: 100%;
  background-color: #333333;
  position: absolute;
  right: 0;
  top: 0;
}
.testimonials h2 {
  text-align: left;
  font-size: 30px;
  font-weight: bold;
  margin: 0 0 60px;
  color: #ffffff;
  position: relative;
  z-index: 2;
 } 

@media (max-width: 767px) {
  .testimonials h2 {
    text-align: center;
  }
}

.testimonials .ts-box {
  z-index: 2;
  position: relative;
  width: calc(98% / 3);
  float: left;
  background-color: #fff;
  padding: 20px;
}

@media (max-width: 767px) {
  .testimonials .ts-box {
    width: 100%;
    float: none;
    margin-bottom: 10px;
  }
}

.testimonials .ts-box:not(:last-of-type) {
  margin-right: 1%;
}
.testimonials .ts-box > p {
  margin: 0 0 15px;
  line-height: 1.5;
  font-size: 16px;
  color: #707070;
  font-style: italic;
}
.testimonials .ts-box .person-info {
  overflow: hidden;
}

@media (max-width: 991px) {
  .testimonials .ts-box .person-info {
    text-align: center;
    overflow: visible;
  }
}

.testimonials .ts-box .person-info img {
  float: left;
  border-radius: 50%;
  margin-right: 20px;
}

@media (max-width: 991px) {
  .testimonials .ts-box .person-info img {
    float: none;
    margin-right: 0;
  }
}

.testimonials .ts-box .person-info h4 {
  margin: 14px 0 10px;
}
.testimonials .ts-box .person-info p {
  color: #707070;
  margin: 0;
}
*/
/* END TESTIMONIALS */

/* START CONTACT */
.contact {
  min-height: 600px;
  background-image: url("../images/Sohag.png");
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
}
.contact .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
}
.contact .container {
  position: relative;
  z-index: 2;
}
.contact h2 {
  font-weight: bold;
  color: var(--main--color);
  font-size: 30px;
  text-align: center;
  margin: 0 0 60px;
}

/* COMMENTED THE FORM SINCE I DON'T NEED IT FOR NOW */
/* .contact form {
  overflow: hidden;
  max-width: 800px;
  margin: auto;
}
.contact form .left {
  float: left;
  width: 49%;
}
.contact form .right {
  float: right;
  width: 49%;
} 

@media (max-width: 767px) {
  .contact form .left,
  .contact form .right {
    float: none;
    width: 100%;
  }
}

.contact form input:not([type="submit"]),
.contact form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  background-color: rgba(218, 218, 218, 0.19);
}

.contact form input:not([type="submit"]):focus,
.contact form textarea:focus {
  outline: 1px solid var(--main--color);
}
.contact form input {
  height: 40px;
}
.contact form textarea {
  height: 150px;
}
.contact form input[type="submit"] {
  padding: 10px;
  width: 100%;
  border-color: transparent;
  background-color: var(--main--color);
  color: #eeeeee;
}
.contact form input:not([type="submit"]):focus::-webkit-input-placeholder,
.contact form textarea:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: 0.3s;
}
.contact form input:not([type="submit"]):focus::-ms-input-placeholder,
.contact form textarea:focus::-ms-input-placeholder {
  opacity: 0;
  transition: 0.3s;
}
.contact form input:not([type="submit"]):focus::placeholder,
.contact form textarea:focus::placeholder {
  opacity: 0;
  transition: 0.3s;
}
*/
.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  width: 21.25em;
  box-shadow: 0 5px 25px rgba(1, 1, 1, 20%);
  border-radius: 10px;
  padding: 25px;
  margin: 15px;
  transition: 0.5s;
  border: 1px solid #ccc;
  background-color: rgba(218, 218, 218, 0.19);
}

.card:hover {
  transform: scale(1.1);
}

.icon {
  color: var(--main--color);
  font-size: 8em;
  text-align: center;
}

.info {
  text-align: center;
  font-weight: bold;
}
/* END CONTACT */

/* START FOOTER */
.footer {
  background-color: #eeeeee;
  width: 100%;
  color: #03071e;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.footer-title {
  font-size: 1.3em;
  font-weight: 600;
}

@media (max-width: 767px) {
  .footer {
    display: block;
  }
  .footer-title {
    display: block;
    margin-right: 16px;
    font-weight: bold;
    text-align: center;
  }
}
.footer-title span {
  color: var(--main--color);
}

.footer .social-icons a {
  text-decoration: none;
  color: var(--main--color);
  font-size: 1.3em;
  padding: 0 12px 0 0;
}

.footer .social-icons {
  margin-top: 22px;
}

@media (max-width: 767px) {
  .footer .social-icons {
    display: block;
    margin: auto;
    line-height: 1.6;
    text-align: center;
  }
}
/* END FOOTER */

/* START GRID SYSTEM */
/* BREAKPOINTS */
@media (min-width: 576px) {
  /*SMALL DEVICES => PHONES */
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  /* MEDIUM DEVICES => TABLETS */
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  /*DESKTOP DEVICES => PC & LAPTOP */
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  /*LARGE SCREENS */
  .container {
    max-width: 1140px;
  }
}
/* END GRID SYSTEM */
